.container {
    display: flex;
    justify-content: space-between;
}

.canvas {
    margin: auto;
    position: relative;
}

.canvas button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}